@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
#currency-language {
  padding: 10px;
  border-radius: 50%;
}

#currency-language:hover {
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(225, 225, 225, 0.336);
}

#host-btn {
  padding: 10px;
  border-radius: 15px;
}

#host-btn:hover {
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(225, 225, 225, 0.336);
}

.dropdown-toggle:after {
  display: none;
}

#dropdown-profile {
  color: rgb(100, 100, 100) !important;
  padding: 5px;
  border: 1px solid rgba(100, 100, 100, 0.404);
  border-radius: 2rem;
}

#dropdown-profile:hover {
  box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.712);
}

hr {
  display: block;
  color: gray;
  margin: auto;
  width: 95%;
}

#room-list {
  list-style-type: none;
}
#listing-desc {
  width: 60%;
}

#vr {
  border-right: 1px solid #dee2e6;
}

.btn:focus {
  box-shadow: none !important;
}

#checkin-btn {
  background-color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 13px;
}

#checkin-btn:hover,
#checkin-btn:not(:hover) {
  border: none;
}

#checkin-btn:focus {
  border: 3px solid black;
  box-shadow: none !important;
  border-radius: 0.3rem;
  padding: 3px 9px;
}

#guests-btn {
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 13px;
}

#guests-btn:hover,
#guests-btn:not(:hover) {
  border: none;
}

#guests-btn:focus {
  border: 3px solid black;
  box-shadow: none !important;
  border-radius: 0.3rem;
  padding: 3px 9px;
}

#booking-btns {
  border-radius: 0.5rem;
  border: 2px solid #a9a7a6;
  margin: 0 !important;
}

#booking-card {
  box-shadow: 0px 1px 10px #a9a7a6;
  border-radius: 10px;
  width: 80%;
}

#booking-info {
  width: 85%;
  padding: 25px 0px;
}

#check-btn {
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  padding: 12px;
}

.mouse-cursor-gradient-tracking {
  position: relative;
  background: linear-gradient(
    to left top,
    #d80765 0%,
    #e31c5f 50%,
    #f62f57 100%
  );
  border: none;
  overflow: hidden;
}

.mouse-cursor-gradient-tracking span {
  position: relative;
}

.mouse-cursor-gradient-tracking:before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgba(255, 147, 85, 0.247) 0,
    rgb(216, 7, 101, 0.247) 100%,
    transparent 100%
  );
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, heighFA3359t 0.2s ease;
}

.mouse-cursor-gradient-tracking:hover:before {
  --size: 200px;
}

h3 {
  font-weight: bold;
}

.bold-font {
  font-weight: bold;
}

#bold-underline-font {
  font-weight: bold;
  text-decoration: underline;
}

#close-guests-btn {
  padding: 6px 6px;
  font-weight: bold;
  text-decoration: underline;
}

#close-guests-btn:hover {
  background-color: #e7e7e762;
  padding: 6px 6px;
  border-radius: 0.3rem;
}

.dropdown-item:active {
  background-color: white !important;
}
